<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exhibtion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.VisitorActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.RegisterNowActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activity.RegisterInExhibtionActivity" />
        <activity
            android:name=".activity.ConfirmRegisterNowActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.ChangeLanguageActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.ExhibtionDiagramActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.ResultRegisterAsVisitorActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.ExhibtorSummaryActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name="com.example.alshimaa.exhibtion.activity.CompanyMapActivity"></activity>
    </application>

</manifest>